Tapping/

**/.vs/
**/.vscode/
**/Debug/
**/x64/
**/obj/
**/.idea/
**/__astache/
**/__history/
**/Win32/
**/__pycache__/

**/*.dwl
**/*.dwl2
**/*.sln
**/*.csproj
**/*.vcxproj
**/*.filters
**/*.user
**/*.dll
**/*.exe
**/*.o
**/*.win
**/*.layout
**/*.dev
**/*.a
**/*.def
**/*.pro
**/*.cbproj
**/*.local
**/*.dfm
**/*.res